<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>司机-实名认证</title>
	<meta name="keywords" content="传途">
	<meta name="description" content="传途">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
	<meta content="telephone=no,email=no" name="format-detection" />
	<link rel="stylesheet" href="style/style.css" />
</head>
<body>
	<div class="usercontent">
		<div class="tab">
			<a class="active">全部</a>
			<a>未完成</a>
			<a>已完成</a>
		</div>
		<div class="tabcont recordlist">
			<div style="display:block">
				<ul class="goodslist">
						<li>
				<div class="goodscont">
					<i class="stime">40分钟前</i>
					<div class="itemarea">
						<p class="starsite"><i class="ico-local green"></i>北京市</p>
						<p class="endsite"><i class="ico-local red"></i>河北省石家庄</p>
					</div>
<!--
					<p class="mtag">
						<span>栏板车</span>
						<span>1.5m车长</span>
						<span>9833kg</span>
					</p>
-->
				</div>

						</li>
						<li>
				<div class="goodscont">
					<i class="stime">40分钟前</i>
					<div class="itemarea">
						<p class="starsite"><i class="ico-local green"></i>北京市</p>
						<p class="endsite"><i class="ico-local red"></i>河北省石家庄</p>
					</div>
<!--
					<p class="mtag">
						<span>栏板车</span>
						<span>1.5m车长</span>
						<span>9833kg</span>
					</p>
-->
				</div>

						</li>
						<li>
				<div class="goodscont">
					<i class="stime">40分钟前</i>
					<div class="itemarea">
						<p class="starsite"><i class="ico-local green"></i>北京市</p>
						<p class="endsite"><i class="ico-local red"></i>河北省石家庄</p>
					</div>
<!--
					<p class="mtag">
						<span>栏板车</span>
						<span>1.5m车长</span>
						<span>9833kg</span>
					</p>
-->
				</div>
						</li>
					</ul>
			</div>
			<div>
				<ul class="goodslist">
						<li>
				<div class="goodscont">
					<i class="stime">40分钟前</i>
					<div class="itemarea">
						<p class="starsite"><i class="ico-local green"></i>北京市</p>
						<p class="endsite"><i class="ico-local red"></i>河北省石家庄</p>
					</div>
<!--
					<p class="mtag">
						<span>栏板车</span>
						<span>1.5m车长</span>
						<span>9833kg</span>
					</p>
-->
				</div>

						</li>
						<li>
				<div class="goodscont">
					<i class="stime">40分钟前</i>
					<div class="itemarea">
						<p class="starsite"><i class="ico-local green"></i>北京市</p>
						<p class="endsite"><i class="ico-local red"></i>河北省石家庄</p>
					</div>
<!--
					<p class="mtag">
						<span>栏板车</span>
						<span>1.5m车长</span>
						<span>9833kg</span>
					</p>
-->
				</div>

						</li>
						<li>
				<div class="goodscont">
					<i class="stime">40分钟前</i>
					<div class="itemarea">
						<p class="starsite"><i class="ico-local green"></i>北京市</p>
						<p class="endsite"><i class="ico-local red"></i>河北省石家庄</p>
					</div>
<!--
					<p class="mtag">
						<span>栏板车</span>
						<span>1.5m车长</span>
						<span>9833kg</span>
					</p>
-->
				</div>
						</li>
					</ul>
			</div>
			<div>
				<ul class="goodslist">
						<li>
				<div class="goodscont">
					<i class="stime">40分钟前</i>
					<div class="itemarea">
						<p class="starsite"><i class="ico-local green"></i>北京市</p>
						<p class="endsite"><i class="ico-local red"></i>河北省石家庄</p>
					</div>
<!--
					<p class="mtag">
						<span>栏板车</span>
						<span>1.5m车长</span>
						<span>9833kg</span>
					</p>
-->
				</div>

						</li>
						<li>
				<div class="goodscont">
					<i class="stime">40分钟前</i>
					<div class="itemarea">
						<p class="starsite"><i class="ico-local green"></i>北京市</p>
						<p class="endsite"><i class="ico-local red"></i>河北省石家庄</p>
					</div>
<!--
					<p class="mtag">
						<span>栏板车</span>
						<span>1.5m车长</span>
						<span>9833kg</span>
					</p>
-->
				</div>

						</li>
						<li>
				<div class="goodscont">
					<i class="stime">40分钟前</i>
					<div class="itemarea">
						<p class="starsite"><i class="ico-local green"></i>北京市</p>
						<p class="endsite"><i class="ico-local red"></i>河北省石家庄</p>
					</div>
<!--
					<p class="mtag">
						<span>栏板车</span>
						<span>1.5m车长</span>
						<span>9833kg</span>
					</p>
-->
				</div>
						</li>
					</ul>
			</div>
		</div>
	</div>
	<script src="js/lib/zepto.min.js"></script>
	<script>
		$('.tabcont>div').hide().eq(0).show();
		$('.tab a').on('tap',function(){
			$(this).addClass('active').siblings().removeClass('active');
			$('.tabcont>div').hide().eq($(this).index()).show();
		});
	</script>
</body>
</html>
