<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>微易物流</title>
	<meta name="keywords" content="微易物流">
	<meta name="description" content="微易物流">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
	<meta content="telephone=no,email=no" name="format-detection" />
	<link rel="stylesheet" href="style/style.css" />
</head>
<body>
	<div class="formbox loginform">

		<p class="wxname">
			<img src="images/userimg.png" alt="" />
			<input type="text" value="请输入手机号和密码" />
		</p>
		<p>
			<i class="ico-users"></i>
			<input type="text" class="phone" placeholder="输入手机号" />
		</p>
		<p>
			<i class="ico-lock"></i>
			<input type="password" class="password" placeholder="密码" />
		</p>

		<p class="t-center">
			<input type="button" value="登录" class="btn login-btn" />
		</p>
		<p class="formbar"><a href="/forgetpas">忘记密码</a><a href="reg">注册账号</a></p>
	</div>
	<script src="js/lib/zepto.min.js"></script>
	<script src="js/app/login.js"></script>
</body>
</html>
