<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>传途</title>
    <meta name="keywords" content="传途">
    <meta name="description" content="传途">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
    <meta content="telephone=no,email=no" name="format-detection" />
    <link rel="stylesheet" href="style/style.css" />
</head>
<body>

    <div class="loginform regform">
        <div class="reguser">
            <a class="active" data-type="driver"><s class="ico-cars"></s>我是司机</a>
            <a class=""  data-type="owner"><s class="ico-user"></s>我是货主</a>
        </div>
        <p>
            <i class="ico-users"></i>
            <input type="text" class="phone-num" placeholder="手机号" required/>
        </p>
        <p> <i class="ico-lock"></i>
            <input type="password" class="password" placeholder="密码" required/>
        </p>
        <p><i class="ico-iphone"></i>
            <input type="text" placeholder="短信验证码" required/><a class="phonecode">获取验证码</a>
        </p>
        <p class="checkline">
            <input type="checkbox" id="s9" />
            <label for="s9">同意<a href="">《传途服务协议》</a></label>
        </p>

        <p class="t-center">
            <input type="button" value="注册" class="btn regbtn" />
        </p>
    </div>
    <script src="js/lib/zepto.min.js"></script>
    <script src="js/app/reg.js"></script>
</body>
</html>
