<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>传途-发货</title>
	<meta name="keywords" content="传途">
	<meta name="description" content="传途">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
	<meta content="telephone=no,email=no" name="format-detection" />
	<link rel="stylesheet" href="public/style/style.css" />
</head>
<body>
	<div class="topinfo">
		亲，很多师傅都拭目以待，赶快提交您的货单吧！
	</div>
	<div class="formgroup">
		<div class="sitebox">
			<div class="fline">
				<label class="labeltitle"><i class="ico-user red"></i>联系人信息</label>
			</div>
			<div class="fline">
				<label  >发货人姓名</label><input type="text" placeholder="长度不超过25个字符" />
			</div>
			<div class="fline phoneline">
				<label  >手机号</label>
				<div class="phonearea">
					<div class="areabtn">
						<select name="" id="">
							<option>中国大陆+86</option>
							<option>美国+01</option>
							<option>日本+21</option>
						</select>
					</div>
				<input type="text" placeholder="电话号码、手机号码必须填一项" />
				</div>
			</div>
		</div>
		<div class="sitebox">
			<div class="fline">
				<label class="labeltitle"><i class="ico-local blue"></i>发货地</label>
				<div class="areabox">
					<div class="selectbox">
						<select name="" id=""><option>中国大陆</option></select>
					</div>
					<div class="selectbox">
						<select name="" id=""><option>选择省</option></select>
					</div>
					<div class="selectbox">
						<select name="" id=""><option>选择市</option></select>
					</div>
				</div>
			</div>
			<div class="fline">
				<label  >详细地址</label><textarea placeholder="建议您如实填写详细收货地址，例如接到名称，门牌号码，楼层和房间号等信息"></textarea>
			</div>
		</div>
		<div class="sitebox">
			<div class="fline">
				<label class="labeltitle"><i class="ico-local green"></i>发送至</label>
				<div class="areabox">
					<div class="selectbox">
						<select name="" id=""><option>中国大陆</option></select>
					</div>
					<div class="selectbox">
						<select name="" id=""><option>选择省</option></select>
					</div>
					<div class="selectbox">
						<select name="" id=""><option>选择市</option></select>
					</div>
				</div>
			</div>
			<div class="fline">
				<label  >详细地址</label><textarea placeholder="建议您如实填写详细收货地址，例如接到名称，门牌号码，楼层和房间号等信息"></textarea>
			</div>
		</div>
		<div class="sitebox">
			<div class="fline">
				<label class="labeltitle"><i class="ico-cars orange"></i>车辆信息</label>
			</div>
			<div class="fline">
				<label  >所需车型</label><input type="text" placeholder="长度不超过25个字符" />
			</div>
			<div class="fline">
				<label  >车长</label><input type="text" placeholder="长度不超过25个字符" />
			</div>
			<div class="fline">
				<label  >重量/体积</label><input type="text" placeholder="长度不超过25个字符" />
			</div>
			<div class="fline">
				<label  >货物描述</label><textarea placeholder="例：化肥、20袋、体积100平方米、垫付等等"></textarea>
			</div>
		</div>
		<p class="t-center">
			<input type="button" value="提交发货" class="btn" />
		</p>
	</div>
</body>
</html>
