<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>传途-找货</title>
	<meta name="keywords" content="传途">      
	<meta name="description" content="传途">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
	<meta content="telephone=no,email=no" name="format-detection" />
	<link rel="stylesheet" href="public/style/style.css" />
</head>
<body>
	<div class="findpage">
		<div class="areacut">
			<a href="" class="setout"><span>出发地</span>北京</a>
			<a href="" class="ico-cut cutsite"></a>
			<a href="" class="aim"><span>目的地</span>全国</a>
		</div>
		<div class="t-center">
			<a class="ico-search btn btn-b searcbtn" href="goodslist.html">搜索</a>
		</div>
	</div>
</body>
</html>