<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>传途-找货</title>
	<meta name="keywords" content="传途">      
	<meta name="description" content="传途">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
	<meta content="telephone=no,email=no" name="format-detection" />
	<link rel="stylesheet" href="public/style/style.css" />
</head>
<body>
	<div class="findpage listpage">
		<div class="areacut">
			<a href="" class="setout"><span>出发地</span>北京</a>
			<a href="" class="ico-cut cutsite"></a>
			<a href="" class="aim"><span>目的地</span>全国</a>
		</div>
	</div>
	<div class="searchbar">
		<div class="selectbox">
			<select name="" id="">
				<option value="">车辆类型</option>
				<option value="">车辆类型</option>
			</select>
		</div>
		
		<div class="selectbox">
			<select name="" id="">
				<option value="">车辆长度</option>
			
			</select>
		</div>
		
		<div class="selectbox">
			<select name="" id="">
				<option value="">货物重量</option>
				
			</select>
		</div>
	</div>
	
	<ul class="goodslist">
		<li>
			<div class="goodscont">
				<i class="stime">40分钟前</i>
				<div class="itemarea">
					<p class="starsite"><i class="ico-local green"></i>北京市</p>
					<p class="endsite"><i class="ico-local red"></i>河北省石家庄</p>
				</div>
				<p class="mtag">
					<span>栏板车</span>
					<span>1.5m车长</span>
					<span>9833kg</span>
				</p>
			</div>	
			<a class="takein">抢</a>
		</li>
		<li>
			<div class="goodscont">
				<i class="stime">40分钟前</i>
				<div class="itemarea">
					<p class="starsite"><i class="ico-local green"></i>北京市</p>
					<p class="endsite"><i class="ico-local red"></i>河北省石家庄</p>
				</div>
				<p class="mtag">
					<span>栏板车</span>
					<span>1.5m车长</span>
					<span>9833kg</span>
				</p>
			</div>	
			<a class="takein">抢</a>
		</li>
		<li>
			<div class="goodscont">
				<i class="stime">40分钟前</i>
				<div class="itemarea">
					<p class="starsite"><i class="ico-local green"></i>北京市</p>
					<p class="endsite"><i class="ico-local red"></i>河北省石家庄</p>
				</div>
				<p class="mtag">
					<span>栏板车</span>
					<span>1.5m车长</span>
					<span>9833kg</span>
				</p>
			</div>	
			<a class="takein">抢</a>
		</li>
	</ul>
</body>
</html>