<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>传途-货物详情页</title>
	<meta name="keywords" content="传途">      
	<meta name="description" content="传途">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
	<meta content="telephone=no,email=no" name="format-detection" />
	<link rel="stylesheet" href="public/style/style.css" />
</head>
<body>
	<div class="dethead">
		<div class="uninfo">
			<img src="public/images/userimg.png" alt="" />
			<div class="ucont">
				<h4>王小二的微信号</h4>
				<p>189028446</p>
			</div>
			<a tel="189827264245" class="ico-phone uphone"></a>
		</div>
		<div class="itemarea">
			<p class="starsite"><i class="ico-local green"></i>北京市亦庄经济开发区洪武路88号</p>
			<p class="endsite"><i class="ico-local red"></i>河北省石家庄西林路开发区</p>
		</div>
	</div>
	<ul class="goodsinfo">
		<li><b>货物名称</b><p>一百吨化肥</p></li>
		<li><b>重量/体积</b><p>100T</p></li>
		<li><b>备注</b><p>希望价格便宜些，可以长期合作最好了！</p></li>
		<li><b>车型要求</b><p>一百吨化肥</p></li>
		<li><b>车长要求</b><p>一百吨化肥</p></li>
		<li><b>期望运费</b><p>一百吨化肥</p></li>
		<li><b>发布时间</b><p>2015-12-12 18:00</p></li>
	</ul>
</body>
</html>